<html>
    <head>
        <link rel="stylesheet" href="/css/favourites.css"></link>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>
    <body>
        <div class="pageContainer">
            <div id="search-movie-form">
                <button type="submit" class="favourite"><a href="/">HOME</a></button>
            </div>  
            <div class="fav-film-container"></div>
        </div>
        <!-- <div><button class="forward">&gt;&gt;</div>
        <div><button class="backward">&lt;&lt;</div>  -->
        <dialog id="movie-full-detail-container"></dialog>
        
    </body>
    <script type="text/javascript" src='/js/favourites.js'></script>
</html>