<html>
    <head>
        <link rel="stylesheet" href="/css/OMDB.css"/>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>
    <body>
        <div class="pageContainer">
            <div id="search-movie-form">
                <input type="text" class="inputBox" placeholder="Search OMDB.."></input>
                <button type="submit" class="favourite"><a href="/favourites">Favourite</a></button>
            </div>  
            <div class="searchResultContainer"></div>
        </div>
        <!-- <div><button class="forward">&gt;&gt;</div>
        <div><button class="backward">&lt;&lt;</div>  -->
        <dialog id="movie-full-detail-container"></dialog>
        
    </body>
    <script src='/js/OMDb.js'></script>
</html>